*{
    margin:0;
    padding:0;
}
body{
    font-family: Zoho_Puvi_Regular, sans-serif;
}
a{
    text-decoration: none;
    color:inherit;
}
.gap{
    height:3rem;
}
.nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:70%;
    padding:1rem 15% ;
    background-color:white;
    border-bottom:1px solid lightgray;
    z-index:2;
}
.nav img{
    width: 40%;
}
.nav ul{
    display: flex;
    list-style:none;
}
.nav li{
    padding-left:2rem;
}
.nav .list p:hover{
    background-color: lightgray;
}
.nav .list p{
    margin-bottom: .5rem;
}
.nav .platform{
    position: relative;
    font-size: 0.5;
}
.platform .list{
    
    position: absolute;
    display: none;
    background-color: white;
    box-shadow: 1px 1px 5px grey;
}
.platform:hover{
    cursor: pointer;
}
.nav .platform:hover .list{
    display: block;
    width:13rem;
    padding: 1rem;
}
.nav .sol{
    position: relative;
    font-size: 0.5;
}
.sol .list{
    
    position: absolute;
    display: none;
    background-color: white;
    box-shadow: 1px 1px 5px grey;
}
.sol:hover{
    cursor: pointer;
}
.nav .sol:hover .list{
    display: block;
    width:7rem;
    padding: 1rem;
}
.list a{
    margin-bottom:6rem ;
}
.platform:hover .a::after{ 
    content: " ▲";
    font-size: 1rem;
}
.sol:hover .a::after{ 
    content: " ▲";
    font-size: 1rem;
}
.a::after {
        content: " ▼";
        font-size: 1rem;
    }
.con_container{
 
    background:linear-gradient(#F7F4EF 70% , white 30%) ;
    width:70%;
    padding:8% 15%;
    display: flex;
    justify-content: space-between;
}
.intro{
    width: 70%;
}
.intro h1{
    font-size:3rem;
}
.head{
    font-size:2.5rem;
    font-weight:400px;
    padding:5% 0;
}
.intro video{
    width:70%;
    padding:5% 0;
}
.con_para1{
    line-height:1.8rem;
    font-size:1.3rem;
}
form{
    width:70%;
    float:right;
    background-color:#FFFFFF;
    padding:3%;
    box-shadow: 1px 1px 10px #D1D1D1;
}
form .para1{
    font-size:1.5rem;
    padding-bottom:5%;
}
input{
    margin-bottom:4%;
    width:93%;
    padding:3%;
    color:#D1D1D1;
    border:1px solid #D1D1D1;
}
textarea{
    margin-bottom:4%;
    width:93%;
    padding:3%;
    color:#D1D1D1;
    border:1px solid #D1D1D1;
}
.para2{
    font-size:.7rem;
    padding-bottom:10%;
}
.para2 span{
    color:#27B5F6;
    
}
form button{
    background-color: #F0483F;
    color:white;
    font-size:1rem;
    padding:.6rem 1.5rem;
    border:none;
}
button:hover{
    cursor: pointer;
}
.for_call{
    width:70%;
    padding:0 15%;
    display:flex;
}
.for_call .content{
     width:40%;
     padding:8% 8%;
     font-size:1.2rem;
}
.for_call .para1{
    font-size:3rem;
    padding:4% 0;
}
.for_call h3{
    font-size:1.8rem;
}
.for_call .para2{
    font-size:1.2rem;
    padding:5% 0;
    line-height: 1.5rem;
}
.video{
    float:right;
    padding:8% 0;
}
.for_call video{
    width:50%;
}
.para3{
    color:#27B5F6;
    padding:4% 0;
}
.qus{
    width:60%;
    padding:5% 20%;
    background-color: #FAFAFA;
}
.qus h1{
    font-size: 3rem;
}
summary{
    font-size: 1.2rem;
    font-weight: bold;
}
.qus1{
    background-color: white;
    padding: 1.5rem;
    box-shadow: 1px 1px 3px grey;
    margin-top: 2rem;
}
.qus1 p{
    padding:1rem 2rem;
    line-height: 2rem;
    font-size: 1.1rem;
}
summary:hover{
    cursor: pointer;
    color:#F1483F;
}


@media screen and (max-width:1520px){
    .nav img{
        width: 40%;
    }
    .nav li{
        padding-left:1rem;
    }
    .con_container{
 
        background:linear-gradient(#F7F4EF 90% , white 10%) ;
        width:90%;
        padding:8% 5%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
    }
    .intro{
        width:70%;
        padding: 5% 15%;
    }
    form{
        /* margin-left:5% ; */
        width:90%;
        float:left;
        background-color:#FFFFFF;
        padding:5%;
        box-shadow: 1px 1px 10px #D1D1D1;
    }
    .for_call{
        width:90%;
        padding:0 5%;
        flex-direction: column-reverse;
    }
    .for_call .video{
        width:100%;
        text-align: center;
    }
    .for_call .content{
        width:80%;
        text-align: center;
    }
}
@media screen and (max-width:500px) {
    .nav {
        position: fixed;
        display: flex;
        align-items: center;
        width: 95%;
        padding: 1rem ;
        font-size: .7rem;
    }

    .nav img {
        width: 90%;
    }

    .nav ul {
        display: flex;
        list-style: none;
    }

    .nav li {
        padding-left: .7rem;
    }

    .nav .platform {
        position: relative;
        font-size: 0.5;
    }

    .platform .list {

        position: absolute;
        display: none;
        background-color: white;
        box-shadow: 1px 1px 5px grey;
    }

    .platform:hover {
        cursor: pointer;
    }

    .nav .platform:hover .list {
        display: block;
        width: 13rem;
        padding: 1rem;
    }

    .platform:hover .a::after {
        content: " ▲";
        font-size: 0rem;
    }

    .sol:hover .a::after {
        content: " ▲";
        font-size: 0rem;
    }

    .a::after {
        content: " ▼";
        font-size: 0rem;
    }

    .nav .sol {
        position: relative;
        font-size: 0.5;
    }

    .sol .list {

        position: absolute;
        display: none;
        background-color: white;
        box-shadow: 1px 1px 5px grey;
    }

    .sol:hover {
        cursor: pointer;
    }
    
    .nav .sol:hover .list {
        display: block;
        width: 7rem;
        padding: 1rem;
    }
    .list a {
        margin-bottom: 6rem;
    }
    .con_container{
        width:90%;
        padding:8% 5%;
    }
    .intro{
        width: 100%;
        padding:5% 0;
    }
    .intro h1{
        font-size:2rem;
        line-height: 3rem;
    }
    .qus h1{
        font-size: 2.2rem;
    }
    .head{
        font-size: 1.8rem;
    }
    .con_para1{
        font-size: 1rem;
    }
    .for_call .para1{
        font-size: 2rem;
    }
    .for_call .content{
        padding:2% ;
        width:95%;
    }
    .content .para2{
        font-size: 1rem;
    }
    .qus{
        width:90%;
        padding:5%;
    }
    .qus1{
        padding: 1rem;
        margin-top: 1.8rem;
    }
}