*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Zoho_Puvi_Regular, sans-serif;
}
a{
    text-decoration: none;
    color:inherit;
}
.nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:70%;
    padding:.5% 15% ;
    background-color:white;
    border-bottom:1px solid lightgray;
    z-index:2;
}
.nav img{
    width: 40%;
}
.nav ul{
    display: flex;
    list-style:none;
}
.nav li{
    padding-left:2rem;
}
.nav .list p:hover{
    background-color: lightgray;
}
.nav .list p{
    margin-bottom: .5rem;
}
.nav .platform{
    position: relative;
    font-size: 0.5;
}
.platform .list{
    
    position: absolute;
    display: none;
    background-color: white;
    box-shadow: 1px 1px 5px grey;
}
.platform:hover{
    cursor: pointer;
}
.nav .platform:hover .list{
    display: block;
    width:13rem;
    padding: 1rem;
}
.nav .sol{
    position: relative;
    font-size: 0.5;
}
.sol .list{
    
    position: absolute;
    display: none;
    background-color: white;
    box-shadow: 1px 1px 5px grey;
}
.sol:hover{
    cursor: pointer;
}
.nav .sol:hover .list{
    display: block;
    width:7rem;
    padding: 1rem;
}
.list a{
    margin-bottom:6rem ;
}
.platform:hover .a::after{ 
    content: " ▲";
    font-size: 1rem;
}
.sol:hover .a::after{ 
    content: " ▲";
    font-size: 1rem;
}
.a::after {
        content: " ▼";
        font-size: 1rem;
    }
.container{
    width:40%;
    padding: 8rem 30% ;
    
}
.heading{
    text-align: center;
}
.heading h1{
    font-size:2.8rem;
    /* padding-bottom: 3rem; */
}
.price{
    display: flex;
    justify-content: space-between;
}
.price img{
    width:99%;
}
.heading h3{
    padding: 2rem 0;
}
.para{
    width:80%;
    padding:6% 10%;
    font-size: 1.1rem;
}
.heading button{
    padding: 1rem 1.5rem;
    border: none;
    color:white;
    background-color: #03A9F5;
    font-size: 1.1rem;
}
.heading h2{
    font-size: 2rem;
    padding: 2rem 0;
}
.price1{
    width:100%;
    display: flex;
    justify-content: space-between;
}
.price1 .row{
    width:45%;
}
.price1 li{
        list-style: none;
        font-size: 1.2rem;
        padding-top:.5rem;
        line-height: 2rem;
        display: flex;
}
.price1 li::before {
    content: '✓';
    color: green;
    font-size: 1.5rem;
    margin-right: 1rem;
}
.plan{
    padding-top: 5rem;
}
.para2{
    padding: 5% 0;
    font-size: 1.1rem;
    line-height: 2rem;
}
h3{
    padding: 5% 0;
    width:70%;
    line-height: 2.5rem;
    font-size: 1.5rem;
}
span{
    color:#03A9F5
}
u{
    color:#03A9F5;

}
span:hover{
    cursor: pointer;
}
u:hover{
    cursor: pointer;
}
footer{
    background-color:#262626;
    display:flex;
    justify-content:space-between;
    width:70%;
    padding:5% 15%;
    color:white;
    line-height:2rem;
}
li{
    list-style: none;
}
.linkimg{
    width:30%;
}
.linkimg img{
    width:100%;
    cursor:pointer;
}
.link1{
    width:15%;
}
.link2{
    width:20%;
}
footer ul h3{
    font-size:1.3rem;
    padding-bottom:1rem;
}
footer li{
    opacity:.7;
}
footer li:hover{
    cursor:pointer;
}

@media screen and (max-width:500px) {
    .nav {
        align-items: center;
        width: 95%;
        padding: 1rem ;
        font-size: .7rem;
    }

    .nav img {
        width: 90%;
    }
    .nav ul {
        display: flex;
        list-style: none;
    }

    .nav li {
        padding-left: 1rem;
    }

    .nav .platform {
        position: relative;
        font-size: 0.5;
    }

    .platform .list {

        position: absolute;
        display: none;
        background-color: white;
        box-shadow: 1px 1px 5px grey;
    }
    .nav .platform:hover .list {
        display: block;
        width: 13rem;
        padding: 1rem;
    }

    .platform:hover .a::after {
        content: " ▲";
        font-size: 0rem;
    }

    .sol:hover .a::after {
        content: " ▲";
        font-size: 0rem;
    }

    .a::after {
        content: " ▼";
        font-size: 0rem;
    }

    .nav .sol {
        position: relative;
        font-size: 0.5;
    }
    .nav .sol:hover .list {
        display: block;
        width: 7rem;
        padding: 1rem;
    }
    .list a {
        margin-bottom: 6rem;
    }
    .container{
        width:90%;
        padding: 5rem 5% ;   
    }
    .heading h1{
        font-size: 1.8rem;
    }
    .para{
        font-size: 1rem;
    }
    h3{
        padding: 0% 0;
        width:100%;
        line-height: 2.5rem;
        font-size: 1.5rem;
    }
    .price1{
        flex-direction: column-reverse;
        width: 90%;
        padding: 5%;
    }
    .price1 .row{
        width:100%;
        
    }
    .plan{
        padding-top: 2%;
    }
    .heading h3{
        padding: 2%;
    }
    .heading h2{
        padding: 2%;
    }



    footer {
        width: 90%;
        padding: 5%;
        flex-direction: column;
        /* text-align: center; */
    }

    .linkimg {
        width: 100%;
    }

    .linkimg img {
        width: 50%;
        cursor: pointer;
    }

    .link1 {
        width: 50%;
    }

    .link2 {
        width: 100%;
    }

    footer ul h3 {
        font-size: 1.3rem;
        padding-bottom: 1rem;
    }

}